## Fundamentals

In [2]:
# First program
print ('Hello World')

Hello World

In [3]:
print("Hello")

Hello

In [4]:
x=10

In [5]:
print(x)

10

In [6]:
x

10

In [7]:
type(x)

int

In [8]:
print(type(x))

<class 'int'>

### Note:
- class is a collection of various methods/functions.
- In python, Int, float, string, Booleon is a class.

In [9]:
y=3.5
print(y)

3.5

In [10]:
print(type(y))

<class 'float'>

In [12]:
z='hello'
print(z)

hello

In [14]:
print(type(z))

<class 'str'>

In [16]:
p= True
p

True

In [17]:
print(type(p))

<class 'bool'>

In [20]:
import sys
sys.getsizeof(x)

28

In [21]:
sys.getsizeof(y)

24

#### ** means power (exponential)

In [22]:
x=123456757578887**12
x

12536560464513704323716038109378157895838151551043685385647017080481022535862022289748262810502604062111268935748833147862577735269155700345045002539200423758361718030881

In [23]:
sys.getsizeof(x)

100

## Operations
#### Arithmetic operations

In [24]:
# +, -, *, /, // and %

In [26]:
x=2
y=7
z= x+y
z

9

In [27]:
x=2
y=7
z= x-y
z

-5

In [31]:
# / means normal division....and // means floor division (smallest value)

In [29]:
x=11
y=3
z= x/y
z

3.6666666666666665

In [30]:
x=11
y=3
z= x//y
z

3

In [33]:
p=10
q=3
r=p%q               # modulus operator
r

1

In [34]:
# multiplication
print(4*5)

20

In [35]:
# ** power
print(4**5)

1024

## Taking user input

In [36]:
x=input()

34

In [37]:
type(x)

str

In [38]:
### bydefault it shows string from keyboard then we do typecasting

In [39]:
x=int(input())

34

In [40]:
type(x)

int

In [41]:
x=float(input())

34

In [42]:
type(x)

float

In [43]:
x=int(input('Enter the number: '))

Enter the number: 123456789

In [45]:
x

123456789

In [46]:
type(x)

int

In [49]:
x=input('Enter the First Name: ')
y=input('Enter the Last Name: ')
z=int(input('Enter the number: '))

Enter the First Name: aakash
Enter the Last Name: sharma
Enter the number: 123246545

## Relational Operator
#### <, >, <==, >==, !=, ==

In [50]:
x=10
y=32
z=x<y
z

True

In [51]:
x!=y

True

In [54]:
z=10
x==z

True

In [55]:
x==y

False

## Logical operations
#### and, or, not

In [57]:
x=10
y=20                            
z=15

p=x<y and y<z
p

False

In [58]:
q=x<y or y<z
q

True

In [59]:
r= not p
r

True

In [66]:
x=10
y=20
z= (x<y) and (x=x+1)    # There is two different value one is booleon and otherone is 11, so it will shows an error
z

SyntaxError: invalid syntax (<ipython-input-66-32a53d422832>, line 3)

## Math Package

In [67]:
import math

In [68]:
math.sqrt(25)

5.0

In [69]:
math.pi

3.141592653589793

In [1]:
# write a program to find area of a circle

In [2]:
import math
radius=float(input('Enter the radius: '))
area= math.pi*radius*radius
print("area of a circle is ",area)

Enter the radius: 2
area of a circle is  12.566370614359172

In [4]:
# write a program to find area of a triangle

In [6]:
b=int(input('Enter the base: '))
h=int(input('Enter the height: '))
area=0.5*b*h
print('Area of a triangle: ',area)

Enter the base: 2
Enter the height: 4
Area of a triangle:  4.0

In [7]:
print('base is: ', b, 'height is: ',h, 'Area is: ',area)

base is:  2 height is:  4 Area is:  4.0

In [8]:
print('base is: ', b, 'height is: ',h, 'Area is: ',area, sep='\n') # sep will seperate each function

base is:
2
height is:
4
Area is:
4.0

In [9]:
print('hello', end= ' ')  # end will seperate in same line
print('world')

hello world

In [10]:
print('hello')
print('world')

hello
world

In [11]:
# format specifier

In [12]:
a=5/3
a

1.6666666666666667

In [13]:
b=4/7
b

0.5714285714285714

In [14]:
a=5/3
print("value of a is : {0:0.2f}".format(a))

value of a is : 1.67

In [15]:
a=5/3
b=4/7
print("value of a is : {0:0.4f} and value of b is: {1:0.2f}".format(a,b))

value of a is : 1.6667 and value of b is: 0.57

In [16]:
a=5/3
b=4/7
print("value of a is : {1:0.4f} and value of b is: {0:0.2f}".format(a,b))

value of a is : 0.5714 and value of b is: 1.67

## Utility function

In [17]:
m=max(34,21,-5,66,5)
m

66

In [18]:
n=min(34,21,-5,66,5)
n

-5

In [19]:
max('hello world')                 # using ASCII value

'w'

In [20]:
len('hello')

5